.footer{
    background-color: var(--backgroundFooter);
    padding: 10px;
}

.footer .footerIcon{
    margin-top: 10px;
}

.footer .footerIcon span{
    font-size: 17px;
    color: #ffffff !important;
}

.footer p{
    text-align: center;
    color: #ffffff !important;
    font-size: 14px;
    margin-top: 20px;
}




